meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(charset="utf-8")
title Chat Reader
meta(name="viewport", content="width=device-width, initial-scale=1")
link(rel="stylesheet", href="css/vendor/bootstrap.min.css")
#root
script.
  window.jQuery = require('./js/vendor/jquery-2.2.4.min.js');
script(src='js/vendor/tether.min.js')
script(src='js/vendor/bootstrap.min.js')
script(src="js/index.js")
